body{
    background-color:#F8E8A6;
}
h1,p{
text-align:center
}

footer{
    text-align:center;
}

footer a{
margin:0 10px;
color:darkgreen;
}

.croissant-photo{
    max-width: 30%;
    border-radius: 10px;
    display: block;
     margin: 30px auto;
}